{% extends 'google_search/base.html' %}

{% block title %}
Search Engine
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}google_search/css/event.css" />
{% endblock %}

{% block content %}
	<div class='search-bar'>
		<input class='search-text' type='text' placeholder='Search..'>
		<div class='search-button' url= '{% url search_item %}'>
			<i class='fa fa-search'></i>
		</div>
	</div>
	<div class='search-result'>
		<div class="loading-image"></div>
		<div class='search-items'></div>
	</div>

	<div class='video-player ui-widget-content'>
		<i class='player-close fa fa-close'></i>
		<input class='video-url' type='text' placeholder="Paste URL here..">
		<iframe id="player" type="text/html" src='https://www.youtube.com/embed/M' frameborder="0" allowfullscreen></iframe>
		<i class='player-move fa fa-hand-stop-o'></i>
		<div class='error-msg hidden'></div>
	</div>

	<div class='sticky-note ui-widget-content'>
		<textarea class='note'></textarea>
		<i class='note-move fa fa-hand-stop-o'></i>
	</div>

	<div class='side-bar'>
		<div class='video-bar fa fa-youtube-play margin-bottom-10'></div>
		<div class='note-bar fa fa-sticky-note-o margin-bottom-10'></div>
	</div>
{% endblock %}

{% block bodyscript %}
	<script type = "text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
	<script type = "text/javascript" src = "{{ STATIC_URL }}google_search/js/event.js"></script>
{% endblock %}